
astralsorcery
backups
crash-reports
fonts
hc-recipes
journeymap
local
logs
mods
resourcepacks
saves
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
hs_err_pid10540.log
minecraftinstance.json
OpenComputersMod-1.7.0.4-lua52-native.64.dll
OpenComputersMod-1.7.0.4-lua53-native.64.dll
realms_persistence.json
replay_pid10540.log
usercache.json
usernamecache.json
WailaErrorOutput.txt
.vscode